@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        font-size: 32px;
    }

    .header {
        height: 735px;
        padding-top: 238.69px;
        display: flex;
        gap: 32px;
        align-items: center;
        text-align: center;

        &__text {
            font-size: 14px;
        }

        &__link {
            margin-top: 0;
        }
    }

    .content {
        &__box-games {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        &__game {
            grid-column: span 4;
            &:hover {
                transform: scale(1.05);
            }

            &_text {
                left: 16px;
            }
        }
    }

    .game-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        padding-top: 51px;
        padding-bottom: 85px;

        &__box {
            display: grid;
            gap: 32px;
            justify-items: center;
            text-align: center;
        }

        &__name {
            font-size: 32px;
        }

        &__text {
            font-size: 14px;
        }

        &__svg_mob {
            width: 344px;
        }
    }
}

@media (max-width: 320px) {
    .game-content {
        &__svg_mob {
            width: 288px;
        }
    }    
}