* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 1024px;
    background-image: url(img/headerback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 217px;

    &__text {
        max-width: 481px;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px
    }
}

.btn {
    border: none;
    border-radius: 30px;
    background: #9C0332;
    width: 234.063px;
    height: 48.603px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    transition: all .3s;

    &:hover {
        background: #4b071b;
        color: #b6b3b3;
    }

    &_margin {
        margin: 0;
    }
}

.title {
    max-width: 788.778px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    background-image: url(img/contentback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__box-games {
        padding-bottom: 128px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__game {
        box-sizing: border-box;
        height: 300px;
        border-radius: 20px;
        grid-column: span 4;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #FFF;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        display: flex;
        align-items: flex-end;
        position: relative;
        transition: all .3s;

        &:hover {
            transform: scale(1.1);
        }

        &_1 {
            background-image: url(img/game_1.jpg);
        }

        &_2 {
            background-image: url(img/game_2.jpg);
        }

        &_3 {
            background-image: url(img/game_3.jpg);
        }
        
        &_text {
            position: absolute;
            left: 32px;
            bottom: 32px;
        }
    }
}

.game-content {
    background-image: url(img/game-contentBack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-top: 233.56px;
    padding-bottom: 233.5px;

    &__box {
        display: grid;
        align-content: center;
        gap: 32px;
    }

    &__name {
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        max-width: 584px;
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }
}

@import 'tablet';
@import 'mobile';